$main-white: #f0f0f0;
 $gray-color: gray; 
 $blue-color:#153BFC;
$SkyBlue-color:rgba(219, 231, 255, 0.6) ;
$darkSkyblue-color:rgba(219, 231, 255, 1);
$text-gray:rgba(0, 0, 0, 0.8);
$text-black:rgba(17, 24, 39, 1);
$forty-size: 40px;
$full-size: 100%;
$line-gray:rgba(0, 0, 0, 0.1);
$text-number-color:rgba(51, 51, 51, 1);
$input-border-color:rgba(233, 234, 236, 1);
$input-control-success:#09c372;
$input-control-error:#ff3860;
$table-head-color:rgba(250, 250, 250, 1);
$text-head-color:rgba(104, 117, 136, 1);
$icon-color:rgba(160, 174, 192, 1);